svg {
    background-color: #292924;
}

@font-face {
    font-family: "niceFont";
    src: url("\TafelSansPro-Light.ttf");
}

.control {
    border-radius: 2.5px;
    background-color: grey;
    color: white;
}

#rowOne {
    height: 100%;
    border: 1px solid black;
    position: relative;
}

#rowTwo {
    height: 100%;
    width: 50%;
    float: left;
    position: relative;
    border: 1px solid black;
}

.gameTag {
    font-family: niceFont; 
    fill: white;
}

#player {
    fill: blue;
}

#controlsLabel {
    font-family: niceFont; 
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

#columnOne {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 1px solid black;
}

#columnTwo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    border: 1px solid black;
}

h1, p {
    text-align: center;
}

#canvas {
    display: block;
    margin: auto;
}
