svg {
    background-color: #292924;
}

@font-face {
    font-family: "niceFont";
    src: url("\TafelSansPro-Light.ttf");
}

.control {
    border-radius: 2.5px;
    font-weight: bold;
    color: white;
}

body {
    background-color: #292924;
}

#rowOne {
    height: 100%;
    position: relative;
}

#rowTwo {
    height: 100%;
    width: 50%;
    float: left;
    position: relative;
}

.gameTag {
    font-family: niceFont; 
    fill: white;
}

#player {
    fill: blue;
}

#controlsLabel {
    font-family: niceFont; 
    text-decoration: underline;
}

* {
    box-sizing: border-box;
}

#columnOne {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#columnTwo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
}

h1, p {
    font-family: niceFont; 
    text-align: center;
    color: white;
}

#canvas {
    display: block;
    margin: auto;
}
