BODY, H2, H3, H4, H5, H6, TH, TD {
font-family: arial, helvetica, sans-serif;
}

H1 {
    font-size: 38px;
    font-family: arial, helvetica, sans-serif;
}

svg {
    background-color: #292924;
}

@font-face {
    font-family: "niceFont";
    src: url("\TafelSansPro-Light.ttf");
}

.control {
    border-radius: 2.5px;
    background-color: grey;
    color: white;
}

.gameTag {
    font-family: niceFont; 
    fill: white;
}

#player {
    fill: blue;
}

#controlsLabel {
    font-family: niceFont; 
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
